.layout img {
  margin: auto;
  max-width: 98%;
  display: block;
  height: auto;
}

.layout h1,
.layout h2,
.layout h4 {
  text-align: center;
}

.layout {
  padding: 8px 0.75rem;
}

.gridResponsive {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
}

.tableContainer {
  width: 100%;
}

@media (min-width: 768px) {
  .gridResponsive {
    grid-template-columns: repeat(2, 1fr);
  }
}
